@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body{
    background-color: #eeeeee;
}
.list-item{
    height: 200px;
    background-color: #dddddd;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    color: #ffffff;
    font-family: Lobster;
}

.list-item-gradian{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,30,77,1) 0%, rgba(6,124,249,1) 55%, rgba(6,127,255,1) 57%, rgba(0,212,255,1) 100%);
}

.list-item-image{
    background-image: url("./Electronic-Sports-League-ESL-Counter-Strike-Global-Offensive-CS-GO-Team-poly-pro-league-1619049-wallhere.com.jpg");
    /* background-position: center; */
    background-size: cover;
    background-position: 0 100px;
}